<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="C" value="Shakespeare2c.dll" />
  <add key="CS" value="Shakespeare2cs.dll" />
  <add key="I" value="Shakespeare2msil.dll" />

</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>